.comic-title {
    font-family: var(--main-font);
    font-size: var(--font-size-comic-title);
    color:var(--color-white);
    text-align: center;
    margin-bottom: 20px;
}
.comic-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid rgb(172, 163, 163);
    font-family: var(--main-font);

}

.comic__item {
    width: 50%;
    height: 300px;
    border: 3px solid var(--color-white);
    position: relative;
}

.comic__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cloud-img {
    width: 100%;
}

.comic__item1 .comic__img {
    filter: grayscale(100%);
}

.comic__item2 .comic__img {
    filter: hue-rotate(30deg);
}
.comic__item3 .comic__img {
    filter: brightness(150%);
}

.comic__item4 .comic__img {
    filter: brightness(50%);
}

.comic__item8 .cloud1 {
    position: absolute;
    width: 200px;
    top: -40px;
    left: 0;
}

.comic__item8 .cloud-img1 {
    transform: scaleX(-1);
}

.comic__item8 .cloud2 {
    position: absolute;
    width: 200px;
    right: 5%;
    bottom: 140px;

}

.comic__item8 .text1 {
    position: absolute;
    top: 89px;
    right: 45px;
    font-size: 15px;

}

.comic__item8 .text2 {
    position: absolute;
    left: 53px;
    bottom: 95px;
    font-size: 15px;
    word-break: normal;

}
.comic__item2 .cloud3{
    position: absolute;
    top:30px;
    width: 200px;
    right: 59%;
    bottom: 5px;   
}
.comic__item2 .text3 {
    position: absolute;
    left: 50px;
    bottom: 160px;
    font-size: 15px;
}
.comic__item3 .cloud4{
    position: absolute;
    top:3px;
    width: 280px;
    right: 53%;
    bottom: 3px;   
}
.comic__item3 .text4 {
    position: absolute;
    text-align: center;
    width: 100px;
    left: 80px;
    bottom: 140px;
    font-size: 13px;

}
.comic__item4 .cloud5{
    position: absolute;
    top:20px;
    width: 230px;
    right: 59%;
    bottom: 5px;   
}
.comic__item4 .text5 {
    position: absolute;
    left: 90px;
    bottom: 160px;
    font-size: 15px;
}
.comic__item6 .cloud6{
    position: absolute;
    top:20px;
    width: 230px;
    right: 59%;
    bottom: 5px;   
}
.comic__item6 .text6{
    width: 100px;
    position: absolute;
    left: 56px;
    bottom: 150px;
    font-size: 15px;
}
.comic__item6 .cloud7{
    position: absolute;
    top:20px;
    width: 230px;
    right: 2%;
    bottom: 5px;   
}
.comic__item6 .text7{
    position: absolute;
    left: 72px;
    bottom: 150px;
    font-size: 15px;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: url(../img/comic2/old-newspaper-background_705652-166.avif);
    /* background-size: cover; */
    
}



@media(max-width:900px) {
    .comic__item {
        width: 100%;
    }
}

@media(max-width:600px) {
    .comic__item5 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item5 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }

    .comic__item5 .cloud2 {
        position: absolute;
        width: 200px;
        right: 50px;
        bottom: 50px;
    }

    .comic__item5 .cloud-img2 {
        transform: rotate(180deg);
    }
}
